extends layout

block content
    form(action="/user/login", method="POST")
        h1(class="pl-30") Log In
        div(class="form-group")
            label(for="username") Username
            input(type="text", name="username", id="username", class="form-control", placeholder="Enter your username", required)
        div(class="form-group")
            label(for="password") Password
            input(type="password", name="password", id="password", class="form-control", placeholder="Enter your password", required, minlength="10")
        div(class="action-buttons pl-30")
            input(type="submit", class="btn btn-primary", value="Login")
            a(href="#" class="btn") Forgot Password
        p(class="new-or-existing pl-30") Are you new to Hypertube?
            a(href="/user/signupForm") Sign Up