nav(class="navbar-nav navbar-expand-lg navbar-dark bg-dark")
    a(href="/home", class="navbar-brand") Hypertube
    div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
            if user
                li(class="nav-item")
                    a(class="nav-link", href="/user/logout") Logout
            else
                li(class="nav-item")
                    a(class="nav-link", href="/user/loginForm") Login
                li(class="nav-item")
                    a(class="nav-link", href="/user/signupForm") Signup
        if user
            form(name="serchForm",class="form-inline my-2 my-lg-0", method="POST" action="/movies")
                input(class="form-control mr-sm-2" type="search" name="searchText" placeholder="Search" aria-label="Search")
        != messages('flashMessages', local)
        if errors
            each error, i in errors
                div(class="alert alert-danger") #{error.msg}
