nav(class="container")
    ul
        li(class="heading")
            a(href="/home") Hypertube
        if user
            li
                a(href="/user/logout") Logout
        else
            li
                a(href="/user/loginForm") Login
            li
                a(href="/user/signupForm") Signup
    if user
        h3(class="text-center") Search Movies
        form(name="serchForm", method="POST" action="/movies")
            input(type="text", name="searchText", placeholder="Search movies")
    != messages('flashMessages', local)
    if errors
        each error, i in errors
            div(class="alert alert-danger") #{error.msg}